<div class="img-scheme">
    <img src="assets/Test_prenatal_no_invasivo-1920x1281.jpg" alt="till pregnansy" class="responsive-img">
</div>

<h1>Non-Invasive Prenatal Testing</h1>
<div class="text">
    <p>Non-invasive prenatal testing (NIPT) is a blood-based genetic, prenatal screening test of the pregnant mom that screens for common chromosomal conditions that affect a baby’s health.</p>
    <p>This non-invasive prenatal testing is indicated to perform a prenatal screening for possible abnormalities in the fetus from week 9 of pregnancy.</p>
</div>
<div class="img-scheme">
    <img src="assets/nipt-prgn-en.png" alt="scheme of pregnansy" class="responsive-img">
</div>

