
<div class="wr-footer-container">
    <div class="wr-logo">
        <img src="assets/logo-echevarne.svg" alt="Logo" class="logo">
    </div>
    <div class="wr-f-menu">
        <div class="f-lside">
                <!-- <div class='h6'>About Us</div> -->

                <ul class="nav-list">
                   <li class="h6">Who we are</li>
                   <li class="nav-item"><a href="#">About us</a></li>
                   <li class="nav-item"><a href="#">Raffles</a></li>
                   <li class="nav-item"><a href="#">Accreditations</a></li>
                   <li class="nav-item"><a href="#">Our Staff</a></li>
                   <li class="nav-item"><a href="#">The Foundation</a></li>
                   <li class="nav-item"><a href="#">Work with Us</a></li>
               </ul>
        </div>
        <div class="f-rside">
            <ul class="nav-list">
                <li class="h6"><a href="#">Technological Capacity</a></li>
                <li class="h6"><a href="#">Centres</a></li>
                <li class="h6"><a href="#">Main Analysis</a></li>
                <li class="h6"><a href="#">Accreditations</a></li>
            </ul>
        </div>

        
    </div>
</div>

