
<div class="wr-footer-container">
    <div class="wr-logo">
        <img src="assets/logo-echevarne.svg" alt="Logo" class="logo">
    </div>
    <div class="wr-f-menu">
        <div class="f-lside">
                <ul class="nav-list">
                   <li class="nav-item"><a href="#">Who we are</a></li>
                   <li class="nav-item"><a href="#">About Us</a></li>
                   <li class="nav-item"><a href="#">Raffles</a></li>
                   <li class="nav-item"><a href="#">Accreditations</a></li>
                   <li class="nav-item"><a href="#">Our Staff</a></li>
                   <li class="nav-item"><a href="#">The Foundation</a></li>
                   <li class="nav-item"><a href="#">Work with Us</a></li>
               </ul>
        </div>
        <div class="f-rside">
           
            Technological Capacity

            Centres

            Main Analysis

            Accreditations
        </div>

        
    </div>
</div>

