.wr-header {
    display: flex;
    // height: 300px;
    width: 100%;
    background-color: red;
    border: 3px solid black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wr-container {
    display: flex;
    // height: 100%;
    width: 100%;
    background-color: green;
    flex-direction: column;
    border: 3px solid black;
    box-sizing: border-box;

}

.wr-logo-menu-container {
    display: flex;
    // height: 30%;
    width: 100%;
    background-color: #212224;
    flex-direction: row;
    // border: 3px solid black;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 20px;
    // align-items: flex-start;
}

.logo {
    display: flex;
    flex-direction: column;
    width: 80%;
    // height: 40px;
    // background-color: yellowgreen;
    // border: 1px solid black;

}

.burg-menu {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    background-color: yellowgreen;
    align-items: flex-start;
    border: 1px solid black;


}


.wr-contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    // height: 20%;
    width: 100%;
    background-color: #212224;
    flex-direction: row;
    // border: 3px solid black;
    // box-sizing: border-box;
}


.social-btn {
    width: 60%;
    color: #fff;
    font: bold 13px 'Open Sans', 'Arial Narrow', Arial, sans-serif;
    // font-size: 13px;
    // font-family: 'Open Sans', sans-serif, 'Arial Narrow', Arial;

}

.lang-btn {
    width: 20%;
    color: #fff;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif, 'Arial Narrow', Arial;

    // height: 20px;
    // background-color: rgb(230, 58, 27);
    // border: 1px solid black;

}




// PPortal
.wr-lk-btn {
    display: flex;
    // height: 30%;
    background-color: #212224;
    width: 100%;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center ;
}

.pp-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    text-align: center;
    width: 40%;
    background-color: #484848;
    border: 1px solid rgb(131, 126, 126);
    padding: 7px;
    margin: 20px;
    color: #6bdeff;
    word-wrap: break-word; /* Позволяет переносу слов */
    font-size: 13px;
    font-family: 'Open Sans', sans-serif, 'Arial Narrow', Arial;

}





.nav {

}

.nav-list {

}

.nav-item {

}
