<div class="wr-header">

    <div class="wr-container">

        <div class="wr-logo-menu-container">
            <div class="wr-logo">
                <a routerLink="/"><img src="assets/logo-echevarne.svg" alt="Logo" class="logo"></a>

            </div>
            <div class="burg-menu">
                <!-- <nav class="nav">
                     <ul class="nav-list">
                        <li class="nav-item"><a href="#">Who we are</a></li>
                        <li class="nav-item"><a href="#">Centers</a></li>
                        <li class="nav-item"><a href="#">Main Analysis</a></li>
                        <li class="nav-item"><a href="#">Test Catalogu</a></li>
                        <li class="nav-item"><a href="#">Accreditation</a></li>
                        <li class="nav-item"><a href="#">Professionals</a></li>
                    </ul>
                </nav>     -->
            </div>
        </div>


        <div class="wr-contact-container">
            <div class="social-btn"> 900-909-110 ПППП    ******</div>
            <div class="lang-btn"> EN-</div>
        </div>
        
        <div class="wr-lk-btn">
            <div class="pp-btn">Professionals Portal</div>
            <div class="pp-btn">Patient Portal</div>
        </div>






    </div>
</div>

