<div class="text-container">


        <h2 class="color-h2"><strong>Benefits</strong></h2>


        <div class="img-scheme">
            <img src="assets/ico_micro.png" alt="icon" class="ico-img">
        </div>
        <div class="h">TECHNICALLY SUPERIOR</div>
        <p>It detects conditions that other tests cannot, including molar pregnancy, triploidy, and disappearance of the twin.
        </p>

        <div class="img-scheme">
            <img src="assets/ico_petri.png" alt="icon" class="ico-img">
        </div>
        <div class="h">UNIQUE IN DIFFERENTIATING GENETIC PROFILE</div>
        <p>
            The only test that differentiates between maternal and fetal DNA, helping to avoid false positives and false negatives.
        </p>
        <div class="img-scheme">
            <img src="assets/ico_woman.png" alt="icon" class="ico-img">
        </div>
        <div class="h">NOT INVASIVE</div>
        <p>
            With a simple sample of maternal blood we avoid putting the fetus at risk.
        </p>
    
    
    
    

</div>
